
.swiper-pagination .swiper-pagination-bullet {
  background: none;
  border: 1px solid #ddd;
  width: 12px;
  height: 12px;
  opacity: 0.8;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}